<%- include('partials/header'); %>
<h1>About</h1>
<table cellspacing="30">
    <tr>
      <td><img class="circular" src="/images/MyProfilePic.jpg" alt="Pranav profile picture"></td>
      <td>
        <h3>Pranav Kumar</h3>
        <p><strong>IBM Curam Software Professional</strong></p>
        <p><em>Intersted in learing full stack development</em></p>
        <p>I am Curam Software Professional working at eSystems Inc. I have completed my Bachleors and Masters in Computer Application from IGNOU, New Delhi, India.
          I have 13+ years of experience working on Java and J2EE technologies.Now I am very much interested in learning full stack development.<br>
          Visit my profile on <a href="https://www.linkedin.com/in/pranav-kumar-3081539/">LinkedIn</a>.</p><br>
          <h4>Visit my work</h4>
          <ul>
            <li><a href="https://kumarp1980.github.io/CTutorial/" target="_blank">C Programming Tutorial</a></li>
            <li><a href="https://kumarp1980.github.io/MathGame/" target="_blank">Math Game for Kids</a></li>
            <li><a href="https://tranquil-falls-32359.herokuapp.com/" target="_blank">Non-MAGI Medicaid Screening</a></li>
            <li><a href="https://mykeeper.azurewebsites.net/" target="_blank">My Keeper</a></li>
          </ul>
      </td>
    </tr>
  </table>
<%- include('partials/footer'); %>
